
  
<div class="page-header">
  <h2>Tabla Alumnos </h2>
  
  <button type="button" (click)="goToAlumnoNew(id)" class="btn btn-primary">Agregar alumno</button>
  <form class = "form-inline">
      <div class="form-group">
        <input type="search" class="form-control"
        placeholder="Enter search string" #search>
      </div>
      <button type="button" class="btn btn-primary"
      (click)="doSearch(search.value)">Search</button>
      </form>
  <div class="table-responsive">
      <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th> id </th>
              <th>Nombre </th>
              <th>Apellidos</th>
              <th>Dni</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alumno of alumnoservice.results; let id = index">
                <td>{{alumno.id}}</td>
              <td>{{alumno.nombre}}</td>
              <td>{{alumno.apellidos}}</td>
              <td>{{alumno.dni}}</td>
              <td> <button type="button" (click)="goToAlumnoDetails(id)" class="btn btn-primary">update</button></td>
              <td><button type="button" (click)="delete(alumno)" class="btn btn-primary">delete</button></td>              
            </tr>
          </tbody>
      </table>
  </div>
  <button type="button" (click)="refreshAlumnos()" class="btn btn-primary">Submit</button>
   <button type="button" (click)="goBack()" class="btn btn-primary">back</button>
    <router-outlet></router-outlet>
  </div>
